/* Colors */
.bg-red {
  background-color: #ff0000;
}

.bg-white {
  background-color: #ffffee;
}

.bg-black {
  background-color: #000011;
}

.bg-blue {
  background-color: #0000ff;
}

/* Margins */
.ml-20 {
  margin-left: 20px !important;
}

/* Overwrite MaterializeCSS */
.modal {
  min-height: 30%;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  height: auto !important;
  padding: 24px !important;
}